:root {
  --form-bg-color: whitesmoke;
  --form-el-border-color: #23232323;
  --form-btn-bg: #232323;
  --form-btn-bg-hover: #232323ea;
  --form-success-color: #2ecc71;
  --form-error-color: #e74c3c;

  --text-primary-color: #efeff1;
  --text-secondary-color: #adadb8;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background: #232323;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-container {
  width: 400px;
  max-width: 100%;
  background: var(--form-bg-color);
  border-radius: 10px;

  margin-bottom: 50px;
}

.form-header {
  padding: 20px 40px;
  border-bottom: 1px solid var(--form-el-border-color);
  text-align: center;
}

.form-header h2 {
  margin: 0;
}

.form {
  padding: 30px 40px;
}

.form-input {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-input label {
  display: inline-block;
  margin-bottom: 5px;
}

.form-input input {
  display: block;
  width: 100%;
  padding: 10px;
  font-family: inherit;
  font-size: 14px;
  border: 1px solid var(--form-el-border-color);
  border-radius: 4px;
}

.form-input.success input {
  border-color: var(--form-success-color);
}

.form-input.error input {
  border-color: var(--form-error-color);
}

.form-input img {
  visibility: hidden;
  position: absolute;
  top: 40px;
  right: 10px;
}

.form-input.success .valid-input-icon {
  visibility: visible;
}

.form-input.error .invalid-input-icon {
  visibility: visible;
}

.form-input small {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
}

.form-input.error small {
  color: var(--form-error-color);
  visibility: visible;
}

.form button {
  border: none;
  cursor: pointer;
  border-radius: 4px;
  background-color: var(--form-btn-bg);
  color: var(--form-bg-color);
  font-family: inherit;
  font-size: 16px;
  padding: 10px;
  width: 100%;

  transition: all 250ms ease-in-out;
}

.form button:hover {
  background-color: var(--form-btn-bg-hover);
}

/* SHOUT-OUT -> LINK TO GITHUB PROFILE */
#shout-out,
#shout-out a {
  color: var(--text-secondary-color);
}

#shout-out a {
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid var(--text-secondary-color);

  position: relative;

  transition: all 250ms ease-in-out;
}

#shout-out a:hover,
#shout-out a:focus-visible {
  color: var(--text-primary-color);
  border-color: var(--text-primary-color);
}

#shout-out a::after {
  content: attr(aria-label);
  position: absolute;
  color: #0e0e10;
  background: #efeff1;
  width: max-content;
  font-size: 1rem;
  left: 0;
  right: 0;
  top: -150%;
  margin: 0 auto;
  padding: 0.25em 0.5em;
  border-radius: 0.125em;

  opacity: 0.8;
  transform: scale(0);
  transform-origin: bottom;
  transition: transform 0ms linear 100ms, opacity 100ms linear;
}

#shout-out a:hover::after,
#shout-out a:focus-visible::after {
  opacity: 0.8;
  transform: scale(1);
  transition: transform 70ms linear, opacity 70ms linear;
}
